:root {
    --bg: #32372f;
    --lbg: #3b4037;
    --dpl: #6f6a97;
    --pl: #9d8df1;
    --lpl: #abadf5;
    --lsb: #b8cdf8;
    --mild-green-thing: #a7e0e9;
    --lg: #95f2d9;
    --gr: #59f8ca;
    --dgr: #1cfeba;

}

* {
    color:aliceblue;
}

html {
    min-width:480px;
}

body {
    font-family: sans-serif;
}

header {
    height: 120px;
    width:100%;
    background-color: var(--pl);
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items:center;
}

main {
    background-color: black;
}

.header-title {
    font-size:200%;
    padding-left: 15px;
    height:fit-content;
    width: 25%;
    font-weight:800;
    color: var(--lbg);
}

.site-nav-menu {
    display:flex;
    flex-direction:row;
    align-items:center;
    margin-right: 20px;
    min-width: 450px;
}

.site-nav-menu a {
    margin: 0% 1.5% 0% 1.5%;
    text-decoration: none;
    width: 90px;
}

.site-nav-item {
    padding: 0% 2% 0% 2%;
    color: var(--lbg);
    text-align:center;
    border-bottom: 3px solid var(--lbg);
}

.hero {
    border-top: solid 2px black;
    height:100px;
    background-image: url(./images/20191222200023_1.jpg);
    background-repeat:no-repeat;
    background-position: center -300px;
    background-size:cover;
    position:relative;
    overflow:hidden;
}

.hero h2 {
    position:absolute;
    width:50%;
    right:0;
    top:25%;
    height: fit-content;
    padding: 6px 0px 6px 15px;
    font-size:200%;
    background: var(--lbg);
}

.about-me,
.work,
.contact-me {
    display: flex;
    flex-direction: row;
    /* justify-content:space-between;
    align-items:center; */
    position:relative;
    padding: 3%;
    min-width: 40%;
}

.contact-me {
    justify-content:flex-start;
}

.side-titles {
    min-width:25%;
    font-size: 45px;
    text-align:right;
    margin-right:1%;
}

.about-me aside {
    padding:2%;
    border-left: solid 5px var(--pl);
    display:flex;
    flex-wrap:wrap;
    justify-content: center;
    width: 75%;
}
.contact-me aside {
    padding:2%;
    border-left: solid 5px var(--pl);
    display:flex;
    flex-wrap:wrap;
    justify-content: flex-start;
    align-items:flex-end;
    width: 75%;
    min-width:75%;
}

.about-me p {
    padding: 0.5%;
}

.contact-me aside a {
    color: aliceblue;
}

.img-div {
    border: 5px ridge rgba(151, 242, 218);;
    position:relative;
    display:flex;
    flex-direction:column;
    flex-wrap:wrap;
    justify-content: flex-end;
    overflow:hidden;
    width:624px;
    height:624px;
    margin:10px;
    padding:10px;
    background-color:rgba(151, 242, 218, 0.5);
    transition:all 500ms ease-in-out;
}



.img-div h3{
    border: 2px solid var(--lbg);
    display:flex;
    margin-top: -7%;
    height:fit-content;
    background-image:linear-gradient(90deg, var(--mild-green-thing) 0%, var(--lg) 33%, var(--gr) 66%);
    width:25%;
    padding: 0.3% 2.5% 0.8% 2.5%;
    font-weight: 800;
    text-shadow: 1px 1px 2px var(--bg);
    text-decoration: underline;
    font-style:italic;
    color: black;
    overflow:hidden;
    box-shadow: 2px 2px 3px var(--pl);
    z-index: 1;
}

.img-div p {
    border: 2px solid var(--lbg);
    display:flex;
    width:25%;
    font-size: 75%;
    font-style: italic;
    text-shadow: 1px 1px 2px var(--bg);
    padding: 0.5% 2% 0.5% 4%;
    background-image:linear-gradient(90deg, var(--lg) 0%, var(--gr) 33%, var(--dgr) 66%);
    color: black;
    z-index: 1;
    box-shadow: 2px 2px 3px var(--pl);
}

.img-div img {
    object-fit:cover;
    position:absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity:0.8;
    transition:all 500ms ease-in-out;
}

.lloyd,
.psg,
.css-cheatsheet,
.placeholder1,
.placeholder2 {
    width:100%;
}

.lloyd {
    grid-area: lloyd;
}

.psg {
    grid-area: psg;
}

.css-cheatsheet {
    grid-area: css-cheatsheet;
}

.placeholder1 {
    grid-area: placeholder1;
}

.placeholder2 {
    grid-area: placeholder2;
}

.work-grid {
    width:75%;
    padding-left:3%;
    border-left: solid 5px var(--pl);
    display:grid;
    grid-template:
        "lloyd lloyd"
        "psg css-cheatsheet"
        "placeholder1 placeholder2"
        ;
    gap:10px;
}

#footer-nav {
    display:flex;
    flex-direction:row;
    justify-content:space-around;
    width:100%;
    height:fit-content;
}

#footer-nav a {
    border-bottom: 3px solid aliceblue;
    padding: 0px;
    padding:0px 7px 5px 7px;
    margin:0;
    height:fit-content;
    text-decoration: none;
    transition: all 500ms ease-in-out;
}

#footer-nav a:hover {
    text-shadow: 1px 1px 2px white;
    scale:1.1;
}

.img-div:hover {
    transform:scale(1.01);
}

.img-div:hover img {
    opacity:1;
}

.site-nav-item:hover {
    color: var(--dpl);
    border-bottom: 3px solid var(--dpl);
}

@media screen and (max-width: 768px) {
    header {
        display:flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .site-nav-menu {
        padding-bottom: 10px;
        flex-wrap:wrap;
        margin-right:0;
    }

    .hero {
        background-size: cover;
        background-position-y: top;
    }

    .about-me,
    .work,
    .contact-me {
        display:flex;
        flex-direction:column;
        align-items:center;
    }

    .side-titles {
        text-align:center;
    }

    .work-grid {
        display:flex;
        flex-direction:row;
        flex-wrap:wrap;
        width:100%;
    }

    .about-me aside,
    .work aside,
    .contact-me aside {
        border-left: solid 0px;
        border-top: solid 5px var(--pl);
    }

    .about-me h2,
    .work h2,
    .contact-me h2 {
        padding-bottom:3%;
    }

}